<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
</head>
<body>
  <form action="" method="post">
    {% csrf_token %}
    <input placeholder="Username" name="username" required>
    <input type="password" placeholder="Password" name="password" required>
    <button>Log In</button>
    {% for messages in messages %}
      <div>{{ messages }}</div>
    {% endfor %}
  </form>
</body>
</html>